<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Selamat Datang Dan Selamat Menggunakan Psyco-Api"

        <!-- ===== CSS ===== -->
        <link rel="stylesheet" href="../css/styles.css">
       
        <!-- ===== BOX ICONS ===== -->
        <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>

        <title>~[About Psyco-Api]~</title>
 
    </head>
    <body>
        <!--===== HEADER =====-->
        <header class="l-header">
            <nav class="nav bd-grid">
                <div>
                    <a href="#" class="nav__logo">PsycoBOTZ</a>
                </div>
                <div class="nav__menu" id="nav-menu">
                    <ul class="nav__list">
                        <li class="nav__item"><a href="#home" class="nav__link active">Home</a></li>
                        <li class="nav__item"><a href="https://api-psycho.herokuapp.com" class="nav__link">Rest Api</a></li>
                        <li class="nav__item"><a href="https://wa.me/6285643260438" class="nav__link">Whatsapp</a></li>
                        <li class="nav__item"><a href="https://instagram.com/pinomodz" class="nav__link">Instagram</a></li>
                        <li class="nav__item"><a href="https://youtube.com/c/PINOMODZ" class="nav__link">Youtube</a></li>
                       <li class="nav__item"><a href="/dorknumber?nomor=6590069xxx&jumlah=25&apikey=YOUR_KEY" class="nav__link">Dork Number</a></li>
                    </ul>
                </div>
                <div class="nav__toggle" id="nav-toggle">
                    <i class='bx bx-menu'></i>
                </div>
            </nav>
        </header>
        <main class="l-main">
            <!--===== HOME =====-->
            <section class="home" id="home">
                <div class="home__container bd-grid">
                    <h2 class="home__title"><span>About</span><br>Me.</h2>
                    <div class="home__scroll">
                        <a href="#about" class="home__scroll-link"><i class='bx bx-up-arrow-alt' ></i>Scroll down</a>
                    </div>
                    <img src="https://telegra.ph/file/78593d77bb7d521a3152c.png" alt="" class="home__img">
                </div>
            </section>
           
            <!--===== ABOUT =====-->
            <section class="about section" id="about">
                <h2 class="section-title">About</h2>
                <div class="about__container bd-grid">
                    <div class="about__img">
                        <img src="..public/images/icon.png" alt="">
                    </div>
                    <div>
                        <h2 class="about__subtitle">I'am NIZAM</h2>
                        <span class="about__profession">Rest API Developer</span>
                        <p class="about__text">Hai Namaku Pino. Psyco-api adalah sebuah antarmuka yang digunakan untuk menghubungkan antara satu aplikasi dengan aplikasi yang lain. Peran dari API adalah untuk sebagai perantara yang menghubungkan aplikasi berbeda, baik dari platform yang sama maupun lintas platform. Thanks To PINO MODDER & Friends</p>
                        <div class="about__social">
                            <a href="https://wa.me/6285643260438" class="about__social-icon"><i class='bx bxl-whatsapp' ></i></a>
                            <a href="https://instagram.com/pinomodz" class="about__social-icon"><i class='bx bxl-instagram' ></i></a>
                        </div>
                    </div>
                </div>
            </section>
            <!--===== SKILLS =====-->
            <section class="skills section" id="skills">
                <h2 class="section-title">Skills</h2>
                <div class="skills__container bd-grid">
                    <div class="skills__box">
                        <h3 class="skills__subtitle">Development</h3>
                        <span class="skills__name">HTML</span>
                        <span class="skills__name">JavaScript</span>
                        <span class="skills__name">Copy Paste</span>
                        
                        <h3 class="skills__subtitle">Game</h3>
                        <span class="skills__name"><a href="/game">Game
</a></span>
                        </div>
                    <div class="skills__img">
                        <img src="../images/skill.jpg" alt="">
                    </div>
                </div>
            </section>
            <!--===== PORTFOLIO =====-->
            <section class="portfolio section" id="portfolio">
                <h2 class="section-title">Project</h2>
                <div class="portfolio__container bd-grid">
                    <div class="portfolio__img">
                        <img src="../images/gura.jpg" alt="">
                        <div class="portfolio__link">
                            <a href="https://pinorecode.github.io" class="portfolio__link-name">View details</a>
                        </div>
                    </div>
                    <div class="portfolio__img">
                        <img src="../images/ruminas.jpg" alt="">
                        <div class="portfolio__link">
                            <a href="https://instagram.com/pinomodz" class="portfolio__link-name">View details</a>
                    <!--    </div>
                    </div>
                    <div class="portfolio__img">
                        <img src="../images/nino.jpg" alt="">
                        <div class="portfolio__link">
                            <a href="https://anilist.co/character/128063" class="portfolio__link-name">View details</a>
                        </div>
                    </div>-->
                </div>
            </section>
            <!--===== CONTACT =====-->
            <section class="contact section" id="contact">
                <h2 class="section-title">Contact</h2>
                <div class="contact__container bd-grid">
                    <div class="contact__info">
                        <h3 class="contact__subtitle">EMAIL</h3>
                        <span class="contact__text">pinobagassajiwo@gmail.com</span>
                        <h3 class="contact__subtitle">PHONE</h3>
                        <span class="contact__text">+62 856-4326-0438</span>
                        <h3 class="contact__subtitle">ADRESS</h3>
                        <span class="contact__text">Indonesia</span>
                    </div>
                    <form action="" class="contact__form">
                        <div class="contact__inputs">
                            <input type="text" placeholder="Name" class="contact__input">
                            <input type="mail" placeholder="Email" class="contact__input">
                        </div>
                        <textarea name="" id="" cols="0" rows="10" class="contact__input"></textarea>
                        <input type="submit" value="Send" class="contact__button">
                    </form>
                </div>
            </section>
        </main>
        <!--===== FOOTER =====-->
        <footer class="footer section">
            <div class="footer__container bd-grid">
                <div class="footer__data">
                    <h2 class="footer__title">NIZAM</h2>
                    <p class="footer__text">I'm PsycoBOTZ and this is my personal website, thanks to PINO MODDER & Friends</p>
                </div>
                <div class="footer__data">
                    <h2 class="footer__title">EXPLORE</h2>
                    <ul>
                        <li><a href="#home" class="footer__link">Home</a></li>
                        <li><a href="#about" class="footer__link">About</a></li>
                        <li><a href="#skills" class="footer__link">Skills</a></li>
                        <li><a href="#Project" class="footer__link">Project</a></li>
                        <li><a href="#Contact" class="footer__link">Contact</a></li>
                    </ul>
                </div>
                <div class="footer__data">
                    <h2 class="footer__title">SUBSCRIBE</h2>
                    <a href="https://youtube.com/c/PINOMODZ" class="footer__social"><i class='bx bxl-youtube' ></i></a>
                </div>
            </div>
        </footer>
        <!--===== SCROLL REVEAL =====-->
        <script src="https://unpkg.com/scrollreveal"></script>
        <!--===== MAIN JS =====-->
        <script src="../js/main.js"></script>
    </body>
</html>
