<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Rest Api Free For You">
  <meta name="author" content="PINO MODZ">
  <link href="https://raw.githubusercontent.com/pinomodder/image/main/thumbnail.jpg" rel="icon">
  <link href="https://raw.githubusercontent.com/pinomodder/image/main/thumbnail.jpg" rel="shortcut icon" type="image/png">
  <title>Pino-Api'S</title>
  <link href="https://indrijunanda.github.io/RuangAdmin/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://indrijunanda.github.io/RuangAdmin/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
  <link href="https://indrijunanda.github.io/RuangAdmin/css/ruang-admin.min.css" rel="stylesheet">
  <meta name="description" content="Online Website API BY PINO MODZ" />
    <meta property="og:image" content="https://raw.githubusercontent.com/pinomodder/image/main/thumbnail.jpg" />
    <link rel="shortcut icon" href="https://raw.githubusercontent.com/pinomodder/image/main/thumbnail.jpg" />
    <link rel="icon" href="https://raw.githubusercontent.com/pinomodder/image/main/thumbnail.jpg" />

   <audio hidden autoplay loop>
    <source src="https://c.top4top.io/m_2121ddq1j1.mp3" type="audio/mpeg">
  </audio>
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.9.0/styles/androidstudio.min.css">
  <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.9.0/highlight.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
  <script>hljs.initHighlightingOnLoad();</script>
  
</head>

<body id="page-top">
  <div id="wrapper" >
    <!-- Sidebar -->
    <ul class="navbar-nav sidebar sidebar-light accordion bg-info" id="accordionSidebar" style="color:black;">
      <a class="sidebar-brand d-flex align-items-center justify-content-center bg-info" style="color:white;">
        <div class="sidebar-brand-icon">
          <img src="https://raw.githubusercontent.com/pinomodder/image/main/thumbnail.jpg">
        </div>
        <div class="sidebar-brand-text mx-3">Pino API's</div>  
      </a>
      <hr class="sidebar-divider my-0">
      <li class="nav-item active">
        <a class="nav-link" href="/api/status">
          <i class="fas fa-fw fa-code"></i>
          <span>Documentation</span></a>
      </li>
      <hr class="sidebar-divider">
      <div class="sidebar-heading">
        Features
      </div>
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseBootstrap"
          aria-expanded="true" aria-controls="collapseBootstrap">
          <i class="bi bi-capslock-fill"></i>
          <span color="black">Downloader API</span>
        </a>
        <div id="collapseBootstrap" class="collapse" aria-labelledby="headingBootstrap" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Downloader Features</h6>
            <a class="collapse-item" href="/api/downloader/ytmp3?apikey=FreeKey&url=https://youtu.be/QDAs64VxM0Y">YouTube [ mp3 ]</a>
            <a class="collapse-item" href="/api/downloader/ytmp4?apikey=FreeKey&url=https://youtu.be/QDAs64VxM0Y">YouTube [ mp4 ]</a>
            <a class="collapse-item" href="/api/downloader/igfoto?apikey=FreeKey&url=https://www.instagram.com/p/CUpntooJG2M/?utm_medium=copy_link">Instagram Foto</a>
            <a class="collapse-item" href="/api/downloader/igvideo?apikey=FreeKey&url=https://www.instagram.com/p/CVcNg_AgwSt/?utm_medium=copy_link">Instagram Video</a>
            <a class="collapse-item" href="/api/downloader/twdl?apikey=FreeKey&url=https://twitter.com/futurism/status/882987478541533189">Twitter Downloader</a>
          </div>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseForm" aria-expanded="true"
          aria-controls="collapseForm">
          <i class="fas fa-fw fa-table"></i>
          <span>TextPro API</span>
        </a>
        <div id="collapseForm" class="collapse" aria-labelledby="headingForm" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">TextPro Features</h6>
            <a class="collapse-item" href="/api/photooxy/butterfly?apikey=FreeKey&text=PINO MODDER">Butterfly</a>
            <a class="collapse-item" href="/api/photooxy/love-text?apikey=FreeKey&text=PINO MODDER">Love Text</a>
            <a class="collapse-item" href="/api/photooxy/coffe-cup?apikey=FreeKey&text=PINO MODDER">Coffe Cup</a>
            <a class="collapse-item" href="/api/photooxy/double-heart?apikey=FreeKey&text=PINO MODDER">Double Heart</a>
            <a class="collapse-item" href="/api/photooxy/dropwater?apikey=FreeKey&text=PINO MODDER">Drop Water</a>
            <a class="collapse-item" href="/api/photooxy/message-under-grass?apikey=FreeKey&text=PINO MODDER">Under Grass</a>
                        <a class="collapse-item" href="/api/photooxy/love-message?apikey=FreeKey&text=PINO MODDER">Love Message</a>
                          <a class="collapse-item" href="/api/photooxy/smoke?apikey=FreeKey&text=PINO MODDER">Smoke</a>
            <a class="collapse-item" href="/api/photooxy/burn-papper?apikey=FreeKey&text=PINO MODDER">Under Grass</a>
            <a class="collapse-item" href="/api/photooxy/naruto?apikey=FreeKey&text=PINO MODDER">Naruto Text</a>
            <a class="collapse-item" href="/api/photooxy/glitch?apikey=FreeKey&text=PINO MODDER&text2=Pino">Glitch Text</a>
                        <a class="collapse-item" href="/api/photooxy/shadow?apikey=FreeKey&text=PINO MODDER&text2=Pino">Shadow</a>
                        <a class="collapse-item" href="/api/photooxy/Romantic?apikey=FreeKey&text=PINO MODDER&text2=Pino">Romantic</a>
          </div>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseAnime" aria-expanded="true"
          aria-controls="collapseAnime">
          <i class="fas fa-paw"></i>
          <span>Anime API</span>
        </a>
        <div id="collapseAnime" class="collapse" aria-labelledby="headingAnime" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Anime/Manga Features</h6>
             <a class="collapse-item" href="/api/anime/manga?apikey=FreeKey&query=Tokyo Revengers">Manga</a>
             <a class="collapse-item" href="/api/anime/planetanime?apikey=FreeKey&query=naruto">Planet Anime</a>
             <a class="collapse-item" href="/api/anime/doujindesu?apikey=FreeKey&query=Naruto">DoujinDesu</a>
          </div>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseRandom" aria-expanded="true"
          aria-controls="collapseRandom">
          <i class="fas fa-smile"></i>
          <span>Game API</span>
        </a>
        <div id="collapseRandom" class="collapse" aria-labelledby="headingRandom" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Game Features</h6>
            <a class="collapse-item" href="/api/game/susunkata?apikey=FreeKey">Susun Kata</a>
            <a class="collapse-item" href="/api/game/asahotak?apikey=FreeKey">Asah Otak</a>
            <a class="collapse-item" href="/api/game/truth?apikey=FreeKey">Truth</a>
            <a class="collapse-item" href="/api/game/dare?apikey=FreeKey">Dare</a>
          </div>
        </div>
      </li>
      <li class="nav-item">
      	<a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseNulis" aria-expanded="true"
      	  aria-controls="collapseNulis">
      	  <i class="fas fa-fw fa-bullseye"></i>
      	  <span>Random API</span>
      	</a>
      <div id="collapseNulis" class="collapse" aria-labelledby="headingNulis" data-parent="#accordionSidebar">
      	<div class="bg-white py-2 collapse-inner rounded">
      	  <h6 class="collapse-header">Random Text</h6>
            <a class="collapse-item" href="/api/random/quotesislami?apikey=FreeKey">Quotes Islami</a>
            <a class="collapse-item" href="/api/random/quotesad?apikey=FreeKey">Quotes Sadboy</a>
            <a class="collapse-item" href="/api/random/katailham?apikey=FreeKey">Kata Ilham</a>
            <a class="collapse-item" href="/api/random/bacotandilan?apikey=FreeKey">Kata Dilan</a>
      	</div>
      </div>
      </li>
      <li class="nav-item">
      	<a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePrimbon" aria-expanded="true"
      	  aria-controls="collapsePrimbon">
      	  <i class="bi bi-box"></i>
      	  <span>Primbon API</span>
      	</a>
      <div id="collapsePrimbon" class="collapse" aria-labelledby="headingPrimbon" data-parent="#accordionSidebar">
      	<div class="bg-white py-2 collapse-inner rounded">
      	  <h6 class="collapse-header">Primbon Feature</h6>
            <a class="collapse-item" href="/api/primbon/artinama?apikey=FreeKey&query=PINO MODDER">Arti Nama</a>
            <a class="collapse-item" href="/api/primbon/artimimpi?apikey=FreeKey&query=Dikejar">Arti Mimpi</a>
            <a class="collapse-item" href="/api/primbon/nomorhoki?apikey=FreeKey&query=08895656884">Nomor Hoki</a>
      	</div>
      </div>
      </li>
      <li class="nav-item">
      	<a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseSearch" aria-expanded="true"
      	  aria-controls="collapseSearch">
      	  <i class="fas fa-search"></i>
      	  <span>Search API</span>
      	</a>
      	<div id="collapseSearch" class="collapse" aria-labelledby="headingSearch" data-parent="#accordionSidebar">
      	  <div class="bg-white py-2 collapse-inner rounded">
      	    <h6 class="collapse-header">Search Features</h6>
             <a class="collapse-item" href="/api/search/palingmurah?apikey=FreeKey&query=Rdp">Paling Murah</a>
             <a class="collapse-item" href="/api/search/infoloker?apikey=FreeKey&query=sales">Info Loker</a>
      	    <a class="collapse-item" href="/api/search/trendtwit?apikey=FreeKey&negara=Indonesia">Trending Twitter</a>
      	  <a class="collapse-item" href="/api/search/hapymod?apikey=FreeKey&query=Whatsapp">Happy Mod</a>
            <a class="collapse-item" href="/api/search/wikipedia?apikey=FreeKey&q=Lawang Sewu">Wikipedia</a>
      	  <a class="collapse-item" href="/api/search/lirik?apikey=FreeKey&query=Menepi">Lirik Lagu</a>
            <a class="collapse-item" href="/api/search/grupwa?apikey=FreeKey&query=gamers">Group Wa</a>
      	  <a class="collapse-item" href="/api/search/kodepos?apikey=FreeKey&query=Semarang">Kode Pos</a>
           <a class="collapse-item" href="/api/search/pinterest?apikey=FreeKey&query=Cewe">Pinterest</a>
      	  </div>
      	</div>
      </li>
      <li class="nav-item">
      	<a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseOthers" aria-expanded="true"
      	  aria-controls="collapseOthers">
      	  <i class="fas fa-fw fa-leaf"></i>
      	  <span>Others API</span>
      	</a>
      	<div id="collapseOthers" class="collapse" aria-labelledby="headingOthers" data-parent="#accordionSidebar">
      	  <div class="bg-white py-2 collapse-inner rounded">
      	    <h6 class="collapse-header">Others Features</h6>
           <a class="collapse-item" href="/api/others/fakedata?apikey=FreeKey">Fake Data</a>
          <a class="collapse-item" href="/api/others/ucapan?timeZone=Asia/Jakarta">Ucapan [ Time Zone ]</a>
          <a class="collapse-item" href="/api/others/hitungmundur?tanggal=07&bulan=11">Hitung Mundur [ Waktu ]</a>
      	  </div>
      	</div>
      </li>
          <li class="nav-item">
      	<a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseAboutMe" aria-expanded="true"
      	  aria-controls="collapseAboutMe">
      	  <i class="bi bi-emoji-sunglasses-fill"></i>
      	  <span>My About</span>
      	</a>
      	<div id="collapseAboutMe" class="collapse" aria-labelledby="headingAboutMe" data-parent="#accordionSidebar">
      	  <div class="bg-white py-2 collapse-inner rounded">
      	    <h6 class="collapse-header">About Me</h6>
      	 <a class="collapse-item" href="https://instagram.com/pinomodz">Instagram</a>
      	<a class="collapse-item" href="https://wa.me/628891753051">Whatsapp</a>
          <a class="collapse-item" href="https://safelink.id/FdZv">Script Bot</a>
      	  </div>
      	</div>
      </li>
      <hr class="sidebar-divider">
    </ul>
    <!-- Sidebar -->
    <div id="content-wrapper" class="d-flex flex-column">
      <div id="content">
        <!-- TopBar -->
        <nav class="navbar navbar-expand navbar-light bg-navbar topbar mb-4 static-top bg-info">
          <button id="sidebarToggleTop" class="btn btn-link rounjgcded-circle mr-3">
            <i class="fa fa-bars"></i>
          </button>
          <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown no-arrow">
              <a class="nav-link dropdown-toggle" id="ApiKeyDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-check fa-fw"></i>
              </a>
              <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                aria-labelledby="ApiKeyDropdown">
                <form action="api/cekapikey">
                  <div class="input-group">
                    <input type="text" class="form-control bg-light border-1 small" placeholder="Your Apikey"
                      aria-label="apikey" aria-describedby="basic-addon2" style="border-color: #3f51b5;" name="apikey" required>
                    <div class="input-group-append">
                      <button class="btn btn-primary" type="button">Check
                        <i class="fas fa-check fa-sm"></i>
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </li>
            <div class="topbar-divider d-none d-sm-block"></div>
<li class="nav-item dropdown no-arrow mx-1">
<a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="alertsDropdown" role="button">
<i class="fas fa-bell fa-fw"></i>
<span class="badge badge-info badge-counter">4</span>
</a>
<div aria-labelledby="alertsDropdown" class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in">
<h6 class="dropdown-header">
                  Alerts Center
                </h6>
<a class="dropdown-item d-flex align-items-center">
<div class="mr-3">
<div class="icon-circle bg-warning">
<i class="fas fa-file-alt text-white"></i>
</div>
</div>
<div>
<div class="small text-gray-500">October 25, 2020</div>
Online APi's Tools is finishing
</div>
</a>
<a class="dropdown-item d-flex align-items-center">
<div class="mr-3">
<div class="icon-circle bg-warning">
<i class="fas fa-exclamation-triangle text-white"></i>
</div>
</div>
<div>
<div class="small text-gray-500">October 25, 2020</div>
Report if there are errors on this website to Admin
</div>
</a>
<a class="dropdown-item d-flex align-items-center">
<div class="mr-3">
<div class="icon-circle bg-warning">
<i class="fas fa-podcast text-white"></i>
</div>
</div>
<div>
<div class="small text-gray-500">October 27, 2020</div>
Apikey was make a limit, Unlimited
</div>
</a>
<a class="dropdown-item d-flex align-items-center" href="/api/about">
<div class="mr-3">
<div class="icon-circle bg-warning">
<i class="fas fa-podcast text-white"></i>
</div>
</div>
<div>
<div class="small text-gray-500">Februari 28, 2023</div>
Primbon, Image Editor, To Update
</div>
</a>
<!-- <a class="dropdown-item text-center small text-gray-500" href="#">Show All Alerts</a> -->
</div>
</li>
            <li class="nav-item dropdown no-arrow">
              <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <img class="img-profile rounded-circle" src="https://raw.githubusercontent.com/pinomodder/image/main/thumbnail.jpg" style="max-width: 100px">
                <span class="ml-2 d-none d-lg-inline text-white small">.....</span>
              </a>
              <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown" href="/api/about">
                <a class="dropdown-item">
                  <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                  PINO MODZ
                </a>
              </div>
            </li>
          </ul>
        </nav>
        	        <!-- Topbar -->
			
		<section class="section">
	        <div class="container">
	            <div class="columns">
	                <div class="column is-offset-4 is-4">
	                    
	                </div>
	            </div>
	        </div>
	    </section>
        <!-- Container Fluid-->
        <!-- Container Fluid-->
        <div class="container-fluid" id="container-wrapper">
          <!-- Attention -->
          <div id="demo" class="alert alert-info alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span id="demo" aria-hidden="true"></span>
            </button>
        <script>
arrBulan = ["Januari","Februari","Maret","April","Mei","Juni","Juli","Agustus","September","Oktober","November","Desember"];
var txt = "";
txt += "<p><b>Browser CodeName</b>: " + navigator.appCodeName + "</p>";
txt += "<p><b>Browser Name</b>: " + navigator.appName + "</p>";
txt += "<p><b>Cookies Enabled</b>: " + navigator.cookieEnabled + "</p>";
txt += "<p><b>Browser Online</b>: " + navigator.onLine + "</p>";
txt += "<p><b>Platform</b>: " + navigator.platform + "</p>";
txt += "<p><b>User-Agent</b>: " + navigator.userAgent + "</p>";
var d = new Date();
const jam = d.getHours();
const menit = d.getMinutes();
const detik = d.getSeconds();
const tgl = d.getDate();
const bln = d.getMonth();
const thn = d.getFullYear();
const bulan = arrBulan[bln]
/* if (jam > 1 && jam < 11) {
*	view.innerHTML = 'Selamat pagi :)';
* } else if (jam > 11 && < 15) {
*	view.innerHTML = 'Selamat siang :)';
* } else if (jam > 15 && < 18) {
*	view.innerHTML = 'Selamat sore :)';
* } else if (jam > 18 && < 24) {
*	view.innerHTML = 'Selamat malam'
* } else {
*	view.innerHTML = 'Selamat datang:)'
* }
*/
document.write(txt)
document.write("Date : "+ jam +":"+ menit +":"+ detik +"~"+ tgl +"-"+ bulan +"-"+ thn +"<br>")</script>
</div>
<style>
.animated {
	background: #fff;
	color: #F00;
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
	font-size: 25px;
	font-family: Arial Black, Gadget, sans-serif;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: #FF0000;
	-webkit-animation: animatedBackground_c 2s infinite alternate;
}

@keyframes animatedBackground_c {
	0% {-webkit-text-stroke-color: #ff8b00}
	10% {-webkit-text-stroke-color: #e8ff00}
	20% {-webkit-text-stroke-color: #5dff00}
	30% {-webkit-text-stroke-color: #00ff2e}
	40% {-webkit-text-stroke-color: #00ffb9}
	50% {-webkit-text-stroke-color: #00b9ff}
	60% {-webkit-text-stroke-color: #002eff}
	70% {-webkit-text-stroke-color: #5d00ff}
	80% {-webkit-text-stroke-color: #e800ff}
	90% {-webkit-text-stroke-color: #ff008b}
	100% {-webkit-text-stroke-color: #ff0000}
}
</style>
<style>
.mengetik
{
	font-size: 15px;
	width: 250px;
	white-space:nowrap;
	overflow:hidden;
	-webkit-animation: ketik 5s steps(50, end);
	animation: ketik 5s steps(50, end);
}

@keyframes ketik{
		from { width: 0; }
}

@-webkit-keyframes ketik{
		from { width: 0; }
}
</style>
    
          <!-- Attention -->
          <div class="row">
            <div class="col-lg-6">
              <div class="card mb-4">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between bg-info">
                  <h1 class="animated">Thanks To By</h1>
                </div>
                <div class="card-body">
                  <li class="mengetik"> Pino Bagas S < Creator > </li>
                  <li class="mengetik"> Indrijunanda < Template ></li>
                  <li class="mengetik"> Recode Team < Team ></li>
                  <li class="mengetik"> And Kalian Semua ~</li>
                </div>
              </div>
            </div>
          </div>
          <!--Row-->
          	
          	<!-- Attention -->
          <div class="row">
            <div class="col-lg-6">
              <div class="card mb-4">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between bg-info">
                  <h1 class="animated">Information</h1>
                </div>
                <div class="card-body">
                  <li class="mengetik"> Rest Fire It's Free For Everyone </li>
                  <li class="mengetik"> Don't Spam Features</li>
                  <li class="mengetik"> Just Donate, It Has Helped Me :)</li>
                  <li class="mengetik"> Help Share, Have a Great Day!</li>
                </div>
              </div>
            </div>
          </div>

          <!-- Modal Logout -->
          <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabelLogout"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabelLogout">Ohh No!</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <p>Are you sure you want to logout?</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Cancel</button>
                  <a href="/" class="btn btn-primary">Logout</a>
                </div>
              </div>
            </div>
          </div>
          
        </div>
        <!---Container Fluid-->
      </div>
      <!-- Footer -->
      <footer class="sticky-footer bg-info">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>copyright &copy; <script> 

document.write(new Date().getFullYear()); 
</script> -
              <b><a href="https://instagram.com/pinomodz" target="_blank">PINO MODZ</a></b>
            </span>
          </div>
        </div>
      </footer>
      <!-- Footer -->
    </div>
  </div>

  <!-- Scroll to top -->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <script src="https://indrijunanda.github.io/RuangAdmin/vendor/jquery/jquery.min.js"></script>
  <script src="https://indrijunanda.github.io/RuangAdmin/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="https://indrijunanda.github.io/RuangAdmin/vendor/jquery-easing/jquery.easing.min.js"></script>
  <script src="https://indrijunanda.github.io/RuangAdmin/js/ruang-admin.min.js"></script>
<script> 
	
</body>

</html>